
body {
	width: 100%;

}

/*p {
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
}*/

.main {
	width: 100%;
	max-width: 1000px;
	margin: auto;

}

h3 {
	color: #603674;
	font-family: 'Open Sans', sans-serif;
	font-size: 32px;
	font-weight: 700;
}

h6 {
	font-weight: 400;
	letter-spacing: 1px;
}

.container-fluid {
	/*margin-left: 0;
	margin-right: 0;*/
	margin: 0;
	max-height: 400px;
}
/*.col {

	margin: 0;
}*/

.btn {
	font-weight: bold;
	font-size: 12px;
	color: white;
	width: 115px;
	height: auto;
	line-height: normal;
	padding: 1.2% .5%;
	border-radius: 0;
}

#button2, #button3 {
	width: 140px;
	font-weight: 600;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
}





#block1 {
	background-color: white;
	background-image: url("assets/hero.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;
	text-align: center;
	max-height: 500px;
	height: 500px;
}

#block1 h1, h2 {
	text-align: center;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: 50px;

}
@keyframes fade-in {
	0% {
		opacity: 0;
		/*color: white;*/

	}

	50% {
		/*color: #603674;*/
	}
	100% {
		opacity: 1;


	}
}

#block1 h1 {

	color: transparent;
	-webkit-text-stroke-width: 1.75px;
	-webkit-text-stroke-color: white;
	letter-spacing: 1px;
	opacity: 1;

	line-height: 60%;

	

}





#block1 h2 {
	letter-spacing: 2.5px;
	font-weight: 700;
	font-size: 47px;
	opacity: 1;
	


}

#welcome-container {
	padding-top: 16%;
	padding-bottom: 10%;
	animation: fade-in 2s linear;
}

#logo-container {

	text-align: left;
	height: 10%;
	padding-top: 2%;
	width: auto;
	animation: fade-in 2s linear;
}

#logo-white {
	margin-left: 10%;
	width: 20%;
	height: auto;
}



#block2 {
	background-color: white;
	height: 420;
	/*resize: both;*/
}



#text-block {
	margin-left: 20%;
/*	margin-top: 15%;
	margin-bottom: 10%;*/
	padding-top: 10%;
	padding-bottom: 10%;	
	padding-right: 8%;
	top: 50%;
	/*line-height: 110%;*/

	font-size: 1.2vw;
	/*padding-bottom: 15%;*/
	width: 80%;
	height: 100%;
	resize: both;
}

#text-block a {
	color: #603674;
}

#text-block h3 {
	/*font-weight: 600;*/
	color: #2b2b2b;
}


#block2-image {
	background-image: url("assets/img-1.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;
	display: block;
	max-height: 100%;
	max-width: 100%;


}
#block3 {
	background-color: white;
	background-image: url("assets/banner-1.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;

}

#block3-info {
	text-align: left;
	padding-top: 17%;
	padding-bottom: 15%;
	margin-left: 10%;

}

#block3-info button {
	margin-left: 0;
}
#block4 {
	background-color: white;
	margin: 0;

}

.icon-container {
	
	/*padding-top: 8%;
	padding-bottom: 8%;*/
	margin: 0;
	margin-left: -5%;
	padding-top: 15%;
	padding-bottom: 15%;
	padding-right: 15%;

	background-color: #f9f9f9;
	width: 100%;
	height: auto;
	/*resize: both;*/
	max-height: 400px;
	animation: fade-in 2s linear;
	

	
}


.icon-container .row {
	max-width: 100%;
	margin: 0;
}

#icon-box2 {
	
	
	padding: 0;
	width: 10%;
	text-align: center;
	font-weight: 400;
	
}

#icon-row1 {
	margin-bottom: 8%;
}

#icon-box2.col {
	padding: 0;
	margin: 0;


}

#icon-box:hover {
	animation: icon-hover-in 1.5s linear;
}

#icon-box {
	animation: icon-hover-out 1.5s linear;
}

@keyframes icon-hover-in {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}

@keyframes icon-hover-out {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(-360deg);
	}
}



#icon-box {

	

	width: 80px;
	height: 80px;
	margin: auto;
	margin-bottom: 5%;
	
	text-align: center;
	/*position: relative;*/
	overflow: hidden;

	border: 1px solid #a348ca;
	border-radius: 50%;
	vertical-align: middle;
}
#icon-box img {

	/*display: inline;*/
	vertical-align: middle;

	margin: 0 auto;

	height: 100%;
	width: auto;
	margin-top: 17%;
	overflow: none;
	max-height: 50px;
	max-width: 50px;
	
}

#icon-box2:hover {
	transform: rotateY(360deg);
	/*animation: fade-in 2s linear;*/
}
#block5 {

	background-color: white;
	background-image: url("assets/banner-2.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;
	
}

#block5-info {
	text-align: left;
	width: 30%;
	margin-left: 55%;
	padding: 12% 0;
	top: 50%;

}

#block5-info p {
	font-size: 1.3vw;
}

#block5-info h3 {
	color: #603674;
}

#block5-info > .btn {
	margin-left: 0;
	line-height: normal;
	padding: 4% .5%;
}

#block6 {
	padding: 3% 0;
	background-color: white;
}

#fiveStars {
	width: 100%;
	height: auto;
	max-width: 120px;
	color: red;
	margin-left: -1%;
}

#footerBlock {
	background-color: #f9f9f9;
	padding: 3% 0;
	text-align: center;
	line-height: 80%;
	font-weight: 400;
	font-size: 12px;
}

#footerBlock img {
	max-height: 35px;
	max-width: 35px;
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	fill: #603674;
}

#footerBlock a, img {
	fill: #603674;
}

.carouselContainerHeader {
	text-align: center;
	color: #603674;
	font-weight: bold;
	font-size: 14px;
}

.carouselContainerBody {
	/*font-family: 'Open Sans', sans-serif;
	font-weight: 400;*/
	font-size: 13px;
}

.carouselContainer {
	margin: 5% 12%;
	
}

.carousel {
	position: relative;
	
}



.carousel-control-prev,
.carousel-control-next {
	opacity: 1 !important;
	color: #603674;
	/*background: #603674;*/
	filter: invert(100%);
}



ol.carousel-indicators {
	position: absolute;
	bottom: 0;
	margin: 0 3px;
	left: 0;
	right: 0;
	width: auto;
}
ol.carousel-indicators li {
/*ol.carousel-indicators li.active {*/
	float: left;
	
	margin: 0 3px;
	border-radius: 50%;
	border: 0;
	background: rgba(255, 221, 0, 0.7);
	width: 4px;
	height: 4px;
}

ol.carousel-indicators li.active {
	background: rgba(255, 221, 0, 1);
}


@media screen and (min-width: 1000px) {
	#text-block {
		font-size: 14px;
	}

	#block5-info p {
		font-size: 14px;
	}
}

@media only screen and (max-width: 1000px) and (min-width: 575px) {
	#block5 {
		margin-top: 0px;
		width: 100%;
		height: auto;
	}

	/*#block5-info {
		padding: 2% 0;
	}*/

	.icon-container {
		padding-bottom: 0;
	}
}

@media only screen and (max-width: 574px) {
	#block5 {
		margin-top: 280px;
	}

	#block2-image {
		padding-bottom: 0;
		display: none;
	}
}

@media screen and (max-width: 1000px) {
	
	.container-fluid {
		padding-bottom: 0;
	}
	#text-block {
		font-size: 11px;
		top: 50%;
		text-align: center;
		width: 70%;
		
	}
	

	/*#text-block-block2 p {
		color: white;
		font-weight: 500;
	}

	#text-block-block2 h3 {
		font-size: 25px;
	}

	#text-block-block2 h6, a {
		color: #603674;
	}*/
	#block1 {
		width: 100%;
		height: auto;
	}


	#welcome-container {
		/*padding-bottom: 0;
		padding-top: 4%;*/
		top: 50%;
		padding: 5% 5%;
	}
	#text-block h3 {
		font-size: 25px;

	}

	#block1 h1 {
		font-size: 6vw;
		-webkit-text-stroke-width: 1.25px;
	}

	#block1 h2 {
		font-size: 5.5vw;
	}

	#block2-col1 {
		background-image: url("assets/img-1.jpg")
		background-size: 100% auto;
		background-repeat: no-repeat;

	}

	/*#block2 {
		background-image: url("assets/img-1.jpg");
		background-size: 100% auto;
		background-repeat: no-repeat;
	}*/

	

	

	#block3-info {
		text-align: left;
		margin-left: 0;
		padding: 10%;
		padding-left: 4%;
		top: 50%;
	}

	#block3-info h3 {
		font-size: 25px;
	}

	.icon-container {
		padding-right: 0;
		margin-top: 1%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0;
		width: 100%;
		text-align: center;
		
	}

	#icon-box.col {

		
		
		margin-right: 20px;
		margin-left: 20px;


	}

	#icon-box img {
		width: 80%;
		height: auto;
	}

	#icon-box2  {
		/*margin-right: 10%;
		margin-left: 10%;*/

		
	}

	#block5 {
		/*margin-top: 280px;*/
		
		background-size: auto 100%;
	}

	#block5-info {
		
		margin-left: 4%;
		text-align: left;
		left: 50%;
	}

	#block5-info h3{
		font-size: 25px;
	}

	#block5-info p {
		font-size: 10px;
	}

	#block6 > #text-box {
		margin: 0;
	}

	.carouselContainerBody {
		font-size: 12px;
	}

	.carouselContainer {
		margin-top: -1%;
	}

	



}



